namex
black>=22
flake8
isort
pytest
numpy
scipy
pandas
absl-py
requests
h5py
protobuf
google
tensorboard-plugin-profile
rich
build
dm-tree
pytest-cov
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability